.gra {
  height: 100%;
}

.wynik {
  font-size: 4rem;
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar {
  height: 5%;
  display: flex;
}

.progressbar_aktywny {
  height: 100%;
  flex: 20;

  background-color: green;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-left: 2rem;
}

.progressbar_nieaktywny {
  height: 100%;
  flex: 80;

  background-color: rgb(179, 179, 179);
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-right: 2rem;
}

.napis {
  font-size: 6rem;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.przyciski {
  height: 20%;
  display: flex;
  font-size: 4rem;
}

.button {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid black;
  box-sizing: border-box;
}

.button_lewy {
  margin-left: 2%;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.button_prawy {
  margin-right: 2%;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}