.gra {
  height: 100%;
}

.wynik {
  font-size: 4rem;
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar {
  height: 5%;
  background-color: rgb(179, 179, 179);
  border-radius: 2rem;
  margin: 0 2rem;
}

.progressbar_active {
  height: 100%;
  background-color: green;
  border-radius: 2rem;
  animation-name: progressbar_progress;
  animation-duration: 1.9s;
  animation-timing-function: linear;  
}

@keyframes progressbar_progress {
  from {width: 0}
  to {width: 100%}
}

.napis {
  font-size: 6rem;
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.przyciski {
  height: 20%;
  display: flex;
  font-size: 4rem;
}

.button {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid black;
  box-sizing: border-box;
}

.button_lewy {
  margin-left: 2%;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.button_prawy {
  margin-right: 2%;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}