.refleks {
  font-size: 3em;
  height: calc(100% - 2em - 14px);
  border: 7px solid black;
  border-radius: 2em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-wrap;
}