.refleks {
  height: calc(100% - 32px);
  border: 1px solid black;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.refleks>div {
  flex: 1;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}