.refleks {
  font-size: 6rem;
  font-weight: bold;
  height: calc(100% - 4rem - 14px);
  border: 7px solid black;
  border-radius: 4rem;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}